@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 66vh;
  width: 100%;
  z-index: -1;
}


/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.header-row{
  color: white;
  pointer-events: auto;
  
}

.btn-pri{
  background-color: #0BADBF;
  color: white;
}

.btn-hollow{
  background-color: none;
  color: white;
  font-style: italic;
}

.btn-hollow:hover{
  background-color: none;
  color: cyan;
  font-style: italic;
}

.btn-mode-active{
  background-color: #6CB33F !important; 
}

.interact-none{
  pointer-events: none;
}

.header-interact{
}

#adv-select-section{
  visibility: hidden;
  display: none;
}

#container-header{
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 999;
  background: #005c82
}

#col-filter-dropout{
  
}

#container-table{
  min-height: 225px;
  z-index: 999;
}


#dataTable {
  
}

#filter-map-row{
  pointer-events: none;
  opacity: 0;
}

#filter-panel{
  height: 100vh;
  pointer-events: auto;
  background: #005c82;
  overflow-y: auto;
}

#filter-panel-title{
  color: white;
}

#header-row-1{
  color: white;
}

#header-row-2{
  
}

#light-van{
  font-weight: 200;
}

#row-map{
  height: 70vh;
  pointer-events: auto;
}

#mode-label{
  position: absolute;
  margin: 0;
  top: 25%;
  font-weight: 300;
  font-size: 13pt;
}

#logo{
  font-size: 36pt;
}

/*
#show-filter-container{
  position: fixed;
  top: 20%;
  text-align: right;
  float: right;
  z-index: 0;
}
*/
